# JetBrains / PhpStorm
.idea/

# PHP / Composer
vendor/
.env

# Node (si aplica)
node_modules/
npm-debug.log*
yarn-error.log*

# SO
.DS_Store
Thumbs.db

# === Entornos (NO subir) ===
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Evitar subir carpeta secure si alguna vez existiera
secure/

# macOS / editores / logs
.DS_Store
Thumbs.db
*.log

