/* Hero específico para Legal */
.page-hero.legal-hero {
    background-image: url('../img/matcha-surf-vertical.jpeg');
    height: 25vh;
    background-position: center 55%;
}

/* Cuerpo legal */
.legal-article{ max-width: 900px; margin: 0 auto; }
.legal-article h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700; font-size: 1.6rem; margin-top: 1.2rem;
}
.legal-table th{ background: #f7f7f7; }
